[submodule "src/universal_robot"]
	path = src/universal_robot
	url = https://github.com/ros-industrial/universal_robot.git
[submodule "src/robotiq"]
	path = src/robotiq
	url = https://github.com/ros-industrial/robotiq
[submodule "src/ur_modern_driver"]
	path = src/ur_modern_driver
	url = https://github.com/ros-industrial/ur_modern_driver.git
[submodule "src/LMS1xx"]
	path = src/LMS1xx
	url = https://github.com/clearpathrobotics/LMS1xx.git
[submodule "src/interactive_marker_twist_server"]
	path = src/interactive_marker_twist_server
	url = https://github.com/ros-visualization/interactive_marker_twist_server.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/YeeCY/realsense-ros.git
