[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/YeeCY/realsense-ros.git
[submodule "src/gazebo_grasp_fix_plugin/general-message-pkgs"]
	path = src/gazebo_grasp_fix_plugin/general-message-pkgs
	url = https://github.com/JenniferBuehler/general-message-pkgs.git
[submodule "src/gazebo_grasp_fix_plugin/gazebo-pkgs"]
	path = src/gazebo_grasp_fix_plugin/gazebo-pkgs
	url = https://github.com/JenniferBuehler/gazebo-pkgs.git
[submodule "src/moveit_grasps"]
	path = src/moveit_grasps
	url = https://github.com/YeeCY/moveit_grasps.git
[submodule "src/darknet_ros"]
	path = src/darknet_ros
	url = https://github.com/YeeCY/darknet_ros.git
[submodule "src/pick_and_place"]
	path = src/pick_and_place
	url = https://github.com/YeeCY/pick_and_place.git

[submodule "src/hector_gazebo"]
	path = src/hector_gazebo
	url = https://github.com/tu-darmstadt-ros-pkg/hector_gazebo.git
[submodule "src/LMS1xx"]
	path = src/LMS1xx
	url = https://github.com/YeeCY/LMS1xx.git
[submodule "src/visual_servoing"]
	path = src/visual_servoing
	url = https://github.com/YeeCY/visual_servoing.git
[submodule "src/look_at_pose"]
	path = src/look_at_pose
	url = https://github.com/YeeCY/look_at_pose.git
[submodule "src/moveit_jog_arm"]
	path = src/moveit_jog_arm
	url = https://github.com/YeeCY/moveit_jog_arm.git
