<launch>
    <!-- Arguments -->
    <arg name="raw_cmd_vel_topic"   default="joystick_teleop/cmd_vel" />
    <arg name="scale_linear"        default="0.2" />
    <arg name="scale_linear_turbo"  default="1.0" />    
    <arg name="scale_angular"       default="0.2" />
    <arg name="scale_angular_turbo" default="1.0" />

    <!--  smooths inputs from bulldog_teleop_keyboard/cmd_vel to velocity_controller/cmd_vel -->
    <include file="$(find bulldog_navigation)/launch/velocity_smoother.launch">
        <arg name="raw_cmd_vel_topic" value="$(arg raw_cmd_vel_topic)" />
    </include>

    <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy" 
        output="screen">
        <param name="scale_linear" value="$(arg scale_linear)" />
        <param name="scale_linear_turbo" value="$(arg scale_linear_turbo)" />
        <param name="scale_angular" value="$(arg scale_angular)" />
        <param name="scale_angular_turbo" value="$(arg scale_angular_turbo)" />

        <remap from="cmd_vel" to="joystick_teleop/cmd_vel" />
    </node>

</launch>
