<launch>
    <!-- Debug -->
    <arg name="debug" default="false" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

    <!-- By default, hide joint_state_publisher GUI -->
    <arg name="use_gui" default="false" />

    <!-- Gazebo specific options -->
    <arg name="gazebo_gui" default="true"/>
    <arg name="paused" default="false"/>
    <!-- By default, use the urdf location provided from the package -->
    <arg name="urdf_path" default="$(find bulldog_gazebo)/urdf/description.gazebo.xacro"/>

    <!-- launch the gazebo simulator and spawn the robot -->
    <include file="$(find bulldog_robot_moveit_config_rs)/launch/gazebo.launch" >
        <arg name="paused" value="$(arg paused)"/>
        <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
        <arg name="urdf_path" value="$(arg urdf_path)"/>
    </include>

    <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
    <include file="$(find pick_and_place)/launch/moveit/planning_context.launch">
        <arg name="load_robot_description" value="false" />
    </include>

    <!-- If needed, broadcast static tf for robot root -->
    <node pkg="tf" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0 0 0 0 0 0 odom base_link 100" />

    <!-- We do not have a robot connected, so publish fake joint states -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="$(arg use_gui)"/>
        <rosparam param="source_list">[/joint_states]</rosparam>
    </node>

    <!-- Given the published joint states, publish tf for the robot links -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" 
        respawn="false" output="screen" />

    <!-- Run the main MoveIt! executable without trajectory execution (we do not have controllers configured by default) -->
    <include file="$(find bulldog_robot_moveit_config_rs)/launch/move_group.launch">
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="fake_execution" value="false"/>
        <arg name="info" value="true"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>

    <!-- Run Rviz and load the default config to see the state of the move_group node -->
    <include file="$(find pick_and_place)/launch/moveit/moveit_rviz.launch">
        <arg name="config" value="true"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>
</launch>
