<?xml version="1.0"?>
<robot name="bulldog_plates" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="top_plate">
    <link name="top_plate_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://bulldog_description/meshes/top_plate.stl" />
        </geometry>
        <material name="grey" />
      </visual>
    </link>

    <joint name="top_plate_joint" type="fixed">
      <origin xyz="0.07937 0 0.253" rpy="0 0 0" />
      <parent link="base_link" />
      <child link="top_plate_link" />
    </joint>

    <gazebo reference="top_plate_link">
      <material>Gazebo/Grey</material>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="installation_plate">
    <link name="installation_plate_link">
      <visual>
        <origin xyz="0 0 -0.0476" rpy="0 0 1.57" />
        <geometry>
          <mesh filename="package://bulldog_description/meshes/installation_plate.stl" />
        </geometry>
        <material name="black" />
      </visual>
    </link>

    <joint name="installation_plate_joint" type="fixed">
      <parent link="base_link"/>
      <child link="installation_plate_link"/>
      <origin xyz="0.197 0 0.314" rpy="0 0 0" />
    </joint>
    
    <gazebo reference="installation_plate_link">
      <material>Gazebo/Black</material>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="laser_plate">
    <link name="laser_plate_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://bulldog_description/meshes/laser_plate.stl" />
        </geometry>
        <material name="black" />
      </visual>
    </link>

    <joint name="laser_plate_joint" type="fixed">
      <parent link="installation_plate_link"/>
      <child link="laser_plate_link"/>
      <origin xyz="0.3 0 -0.1" rpy="${pi} 0 0" />
    </joint>

    <gazebo reference="laser_plate_link">
      <material>Gazebo/FlatBlack</material>
    </gazebo>
  </xacro:macro>
</robot>
