<?xml version="1.0"?>
<launch>

  <!-- controller -->
  <rosparam command="load" file="$(find bulldog_control)/config/control.yaml" />

  <node name="base_controller_spawner" pkg="controller_manager" type="spawner" 
    args="bulldog_joint_state_controller 
          bulldog_velocity_controller" />

  <!-- robot localization -->
  <node name="ekf_localization" pkg="robot_localization" type="ekf_localization_node" >
    <rosparam command="load" file="$(find bulldog_control)/config/localization.yaml" />
  </node>

  <!-- interactive_marker_twist_server -->
  <node name="twist_marker_server" pkg="interactive_marker_twist_server" type="marker_server" output="screen"/>

  <!-- twist_mux -->
  <node name="twist_mux" pkg="twist_mux" type="twist_mux">
    <rosparam command="load" file="$(find bulldog_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="bulldog_velocity_controller/cmd_vel"/>
  </node>

</launch>
