<launch>
  <!-- The planning and execution components of MoveIt! configured to run -->
  <!-- using the ROS-Industrial interface. -->
 
  <!-- Non-standard joint names:
       - Create a file [robot_moveit_config]/config/joint_names.yaml
           controller_joint_names: [joint_1, joint_2, ... joint_N] 
       - Update with joint names for your robot (in order expected by rbt controller)
       - and uncomment the following line: -->
  <rosparam command="load" file="$(find bulldog_moveit_config_rs)/config/joint_names.yaml"/>

  <!-- publish the robot state (tf transforms) -->
  <!-- do not use robot_state_publisher in case we have passive joint in the URDF -->
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/joint_states]</rosparam>
  </node>

  <include file="$(find bulldog_moveit_config_rs)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <include file="$(find bulldog_moveit_config_rs)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>
  
  <!-- <include file="$(find bulldog_moveit_config_rs)/launch/default_warehouse_db.launch" /> -->

</launch>
