<launch>
    <arg name="laser_enabled" default="$(optenv BULLDOG_LMS1XX_ENABLED true)"/>
    <arg name="ur5_enabled" default="$(optenv BULLDOG_UR5_ENABLED false)"/>
    <arg name="kinect_enabled" default="$(optenv BULLDOG_KINECT_ENABLED false)"/>
    <arg name="realsense_enabled" default="$(optenv BULLDOG_REALSENSE_ENABLED true)"/>
    <arg name="dual_ur5_enabled" default="$(optenv BULLDOG_DUAL_UR5_ENABLED true)"/>
    <arg name="robotiq_grippers_enabled" default="$(optenv ROBOTIQ_GRIPPERS_ENABLED true)"/>

    <!-- The name of the parameter under which the URDF is loaded -->
    <arg name="robot_description" default="robot_description"/>

    <!-- Load universal robot description format (URDF) -->
    <param name="$(arg robot_description)" command="xacro --inorder  '$(find bulldog_description)/urdf/bulldog_robot.xacro'
        laser_enabled:=$(arg laser_enabled)
        ur5_enabled:=$(arg ur5_enabled)
        kinect_enabled:=$(arg kinect_enabled)
        realsense_enabled:=$(arg realsense_enabled)
        dual_ur5_enabled:=$(arg dual_ur5_enabled)
        robotiq_grippers_enabled:=$(arg robotiq_grippers_enabled)"/>

    <!-- The semantic description that corresponds to the URDF -->
    <!-- <param name="$(arg robot_description)_semantic" textfile="$(find bulldog_description)/config/bulldog_robot.srdf" /> -->

    <!-- Load base control information -->
    <include file="$(find bulldog_control)/launch/control.launch"/>

    <!-- publish robot state (tf transforms) -->
    <!-- do not use robot_state_publisher in case we have passive joint in the URDF -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="false"/>
        <rosparam param="/source_list">[/joint_states]</rosparam>
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
        <param name="publish_frequency" value="50.0" />
    </node>
</launch>
